# **Most **

In [6]:
import pandas as pd
!git clone https://github.com/TharachonWarin/Spotify_Project_203/
sp23 = pd.read_csv('./Spotify_Project_203/Combined-2023.csv')
sp24 = pd.read_csv('./Spotify_Project_203/Combined-2024.csv')

fatal: destination path 'Spotify_Project_203' already exists and is not an empty directory.

# **Create Dataframe**

# **Cleaning Data**

delete useless column

Do not Run again!

In [7]:
del sp24['ISRC']
del sp24['TIDAL Popularity']
del sp23['released_day']
del sp23['artist_count']

split date-format to each column

In [8]:
sp24[['Released_month', 'Released_day', 'Released_year']] = sp24['Release Date'].str.split('/', expand=True)
del sp24['Release Date'], sp24['Released_day']

In [9]:
sp24

,Unnamed: 0,Track,Album Name,Artist,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track,Released_month,Released_year
0,0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,1,725.4,"390,470,936","30,716","196,631,588",92.0,...,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",0,4,2024
1,1,Not Like Us,Not Like Us,Kendrick Lamar,2,545.9,"323,703,884","28,113","174,597,137",92.0,...,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",1,5,2024
2,2,i like the way you kiss me,I like the way you kiss me,Artemas,3,538.4,"601,309,283","54,331","211,607,669",92.0,...,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",0,3,2024
3,3,Flowers,Flowers - Single,Miley Cyrus,4,444.9,"2,031,280,633","269,802","136,569,078",85.0,...,264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",0,1,2023
4,4,Houdini,Houdini,Eminem,5,423.3,"107,034,922","7,223","151,469,874",88.0,...,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",1,5,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,4595,For the Last Time,For the Last Time,$uicideboy$,"4,585",19.4,"305,049,963","65,770","5,103,054",71.0,...,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",1,9,2017
4596,4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,"4,575",19.4,"52,282,360","4,602","1,449,767",56.0,...,1.0,927,NaN,NaN,NaN,NaN,"193,590",0,7,2018
4597,4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,"4,571",19.4,"189,972,685","72,066","6,704,802",65.0,...,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",1,2,2020
4598,4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,"4,591",19.4,"145,467,020","14,037","7,387,064",66.0,...,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",0,11,2016
4599,4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcángel,"4,593",19.4,"255,740,653","32,138","14,066,526",64.0,...,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",1,4,2017